body {
  background: #edf2f4;
}

.top {
  height: 25rem;

  background-image: url(https://images.pexels.com/photos/1358900/pexels-photo-1358900.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
  background-size: cover;
  background-position: center;
}
.maxNav {
  padding-left: 10rem;
  background: rgba(212, 212, 208, 0.598); /*  opacity  */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 10rem;
  /* opacity: 0.7; */
}
.accordeon {
  display: none;
}
nav {
  position: fixed;
  width: 100%;
}

.maxNav img {
  width: 18%;
}

nav ul {
  list-style: none;
  display: flex;
}
.contact {
  background: #bc6c25;
  width: 125px;
  text-align: center;
}
.contact:hover a {
  color: #faedcd;
}
h1 {
  color: #bc6c25;
}
nav ul li {
  margin-left: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #000;
}

nav ul li a:hover {
  text-decoration: underline; /* Optional: Hover effect for links */
}
.galleryTop {
  display: flex;
  width: 30%;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.aboutUs {
  display: flex;

  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 2rem; /* Adds internal spacing */
  margin-top: 3rem;
  margin-bottom: 2rem;
  background-color: #e0d5bd;
  border: 1px solid #ccc;
}
.aboutText {
  width: 69%;
}
img {
  width: 18rem;
  border-radius: 10%;
}
.imgContainer {
  display: flex;
  gap: 10px;
}
.imgContainer0 {
  display: flex;
  margin-bottom: 8px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact-container {
  display: flex;
}
.contact-text {
  margin-left: 2%;
  width: 300px;
}
.vl {
  border-left: 2.5px solid #d6ccc2;
  height: 500px;
}
.phoneNumber {
  display: flex;
  align-items: center;
}
.footer {
  display: flex;
  justify-content: center;
}

@media (max-width: 1200px) {
  .maxNav {
    display: none;
  }
  .accordeon {
    display: flex;
    padding-left: 10rem;
    background: rgba(212, 212, 208, 0.598); /*  opacity  */
    justify-content: space-between;
    align-items: center;
    padding-right: 10rem;
    position: relative;
  }
  .accordeon img {
    width: 6rem;
    padding-right: 6rem;
  }
  .accordeon ul {
    display: none; /* hide dropdown by default */
    flex-direction: column;
    width: 100%;
  }
  .accordeon ul.open {
    /* show the dropdown when toggled */
    display: flex;
  }
  .accordeon ul li {
    width: 100%;
    text-align: center;
  }
  .accordeon ul li a {
    display: block;
    padding: 10px; /*  padding for spacing */
  }
  .imgContainer {
    flex-direction: column;
    align-items: center;
    max-width: 100%;
  }

  .imgContainer img {
    max-width: 100%;
    margin: 5px 0;
  }
  .vl {
    display: none;
  }

  .contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
